@import '../var';
.details-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50vh;
	padding-left: 10px;
	padding-top: 20px;
	margin-bottom: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	div {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-content: flex-end;
		width: 100%;
		height: auto;

		button {
			margin-right: 10px;
		}
	}

	button {
		height: 10%;
	}
}

.details-page-container {
	border: 1px solid blue;
}

.burger-details-container {
	padding-left: 20px;
	padding-right: 20px;

	h1,
	h2,
	p {
		margin-bottom: 25px;
	}

	h2 {
		small {
			font-size: 17px;
		}
	}

	h3 {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.squares-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;

	i {
		font-size: 20px;
	}
}

.favorite {
	color: $heart;
}

.discount {
	width: 30%;
	border-radius: 8px;
	text-align: center;
}

.details-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-top: 30px;
}

.selected {
	border: 3px solid yellow;
}

.icon {
	font-size: 20px;
}

// .brown-bread {
// 	color: brown;
// }
