@import '../var';
.order-details-container {
	background-color: $order-details-background;
	font-family: 'Roboto', sans-serif;

	button {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.order-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;

	h1 {
		width: 100%;
	}
}

.order-detail-line {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.edit-delete-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
