.product-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	border: 1px solid blue;

	img {
		width: 20%;
		border: 2px solid green;
	}
}

.listing-container {
	border: 1px solid blue;
	width: 100%;
}

.button {
	width: 50%;
	display: block;
	margin: auto;
}
